.main{
    padding-right: 15rem;
    padding-left: 15rem;
    max-height: 80vh;
    
}
.question{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.question > p, .response > p{
    background-color: #404040;
    max-width: 80vh;
    color: #ccc;
    padding: 20px;
    border-radius: 1rem;
}
.question > p{
    background-color: blue;
}
.response{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.question{
    padding: 5px 5px;
}

.response{
    padding: 5px 5px;
}


.form > input{
    min-width: 80vh;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 1rem;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.his{
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}