* {
  padding: 0;
  margin: 0;
}
html, body {
  margin: 0;
  height: 100vh;
  
}

body {
  color: #ffffff;
  background: #202020;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
